body{
    background-image: url(../IMG/Fondo_Pagina.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Helvetica Neue, Helvetica;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #ffcc66;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

.nav{
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

.navbar{
    float: right;
    display: flex;
    align-content: space-between;
    border-radius: 10px;
    background-color: rgb(255, 150, 0);
}

.nav-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 70px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin:  0 10px;
    line-height: 60px;
    text-transform: uppercase;
}

.nav-menu-link{
    padding:  8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover{
    background-color: #ff9600;
    transition: 0.5s;
}

.formulario{
    text-align: center;
}

.swiper{
    width: 100%;
    padding: 150px 0 50px 0;
}
.swiper-slide{
    width: 300px;
    height: 425px;
    background-color: orange;
    box-shadow: 0 0 20px white;
    padding: 40px;
    text-align: center;
}

.bebida-content{
   display: flex;
   justify-content: space-between;
}

.bebida-txt{
    flex-basis: 50%;
    text-align: left;
}

.bebida-txt span{
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.bebida-txt h3{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}


.bebida-txt p{
    font-size: 16px;
    color: rgb(255, 255, 255);
} 

.bebida-img{
    flex-basis: 50%;
    text-align: right;
}

.bebida-img img{
    width: 100px;
}

.boton1{
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 50px;
}

h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size:40px;
}

.swiper-slide:hover {
    background-color: #ffb151;

}