* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../IMG/Fondo_Pagina.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    height: 150px;
    width: 250px;
    border-radius: 50%;
    border: 5px solid saddlebrown;
}

.header{
    background-color: #ffcc66;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

.nav{
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

.navbar{
    float: right;
    display: flex;
    align-content: space-between;
    border-radius: 10px;
    background-color: rgb(255, 150, 0);
}

.nav-link{
    color: aliceblue;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 70px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin:  0 10px;
    line-height: 60px;
    text-transform: uppercase;
}

.nav-menu-link{
    padding:  8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover{
    background-color: #ff9600;
    transition: 0.5s;
}

.Principal{
    justify-content: space-around;
    display: flex;
}

.contenido{
    width: 40%;
    border-bottom: 10px;
    float: left;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 5px solid saddlebrown;
}

.img_bienvenida{
    float: right;
    display: flex;
    border-radius: 50%;
    border: 5px solid saddlebrown;
}

.botones{
    justify-content: space-evenly;
    display: flex;
}
button{
    background-color: rgb(255, 255, 255);
    border: 10px;
    padding: 15px 32px;
}
