body{
    background-image: url(../Imagenes/Fondo_Pagina.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    height: 150px;
    width: 250px;
    border-radius: 50%;
    border: 5px solid saddlebrown;
}

.logo{
    border-radius: 50%;
    border: 5px solid saddlebrown;
}

.navbar{
    float: right;
    display: flex;
    align-content: space-between;
    border-radius: 10px;
    background-color: rgb(255, 150, 0);
}

.Principal{
    justify-content: space-around;
    display: flex;
}

.contenido{
    width: 40%;
    border-bottom: 10px;
    float: left;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 5px solid saddlebrown;
}

.img_bienvenida{
    float: right;
    display: flex;
    border-radius: 50%;
    border: 5px solid saddlebrown;
}

.botones{
    justify-content: space-evenly;
    display: flex;
}
button{
    background-color: rgb(255, 255, 255);
    border: 10px;
    padding: 15px 32px;
}



