*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(../IMG/Fondo_Pagina.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    min-height:  100vh;
}

.container{
    width: 70%;
    max-width: 800px;
    margin: 0 auto;

}

header{
    margin-top: 8px;
    align-items: center;
}

table{
    width: 100%;
    color:rgb(0, 0, 0);
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    background: #ffcc66;
    text-align: center;
}

thead{
	background: #ffcc66;
}

th{
    padding: 15px;
    font-weight: 700;
    width: 50%;
    text-align: center;
    justify-content: center;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size:30px;
}

td{
    padding: 15px;
    font-weight: 700;
    width: 50%;
    text-align: center;
    justify-content: center;
}

td img{
    width: 200px;
    max-width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
}

.botones{
    justify-content: space-evenly;
    display: flex;
}

tbody tr td:hover,
thead th:hover{
    background: #ffc043;
}

.highlight {
    background: #ffc043;
    box-shadow: 1px 0px 0px 0px #df1a1a, 2px 2px 0px 0px #d63030, 3px 3px #ce3a3a, 4px 4px 4px #d85e5e;
    transform: scale(1.1);
    transition: 1s;
}

.btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #000000;
	background: #ffcc66;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.btn-submit:hover {
	background: #ffb151;
    box-shadow: 1px 1px 0px 0px #df1a1a, 2px 2px 0px 0px #d63030, 3px 3px #ce3a3a, 4px 4px 4px #d85e5e;
    transform: scale(1.1);
    transition: 1s;
}


.principal{
    justify-content: space-between;
    display: flex;
    
}

.Integrante{
    background: #ffffff;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    color:rgb(0, 0, 0);
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    background: #ffcc66;
    text-align: center;

}

.logo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid saddlebrown;
}

img{
    width: 50px;
    height: 50px;
}
.boton{
    justify-content: center;
    display: flex;
}
button{
    background-color: rgb(255, 255, 255);
    border: 10px;
    padding: 15px 32px;
    text-align: center;
}
