* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../IMG/Fondo_Pagina.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.encabezado{
    display: flex;
    justify-content: center;
}

.tabla{
    width: 100%;
}

.tabla_section{
    height: 650px;
    overflow: auto;
}

table{
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
}

thead th{
    position: sticky;
    top: 0;
    background-color: #ffb151;
    color: #937aec;
    font-size: 15px;
}

th,td{
    border-bottom: 1px solid #000000;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

tr:hover td{
    color: #937aec;
    cursor: pointer;
    background-color: #ffb151;
}

button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #ffb151;
}

td button:nth-child(1){
    background-color: #f80000;
}

.botones{
    justify-content: space-evenly;
    display: flex;
}

.btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #000000;
	background: #ffcc66;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.btn-submit:hover {
	background: #ffb151;
    box-shadow: 1px 1px 0px 0px #df1a1a, 2px 2px 0px 0px #d63030, 3px 3px #ce3a3a, 4px 4px 4px #d85e5e;
    transform: scale(1.1);
    transition: 1s;
}